<!DOCTYPE html>
<html>
  <head>
    <title>Search for a student</title>
  </head>
  <body>
    <p> Enter name of the student below</p>
    <form action="/students/search/result" method="POST">
      <input type="text" name="name" placeholder="Name">
      <button type="submit">Search</button>
    </form>
  </body>
</html>
