#contact-info{
	font-size:.8em;
}

.job{
	background-color:#e9e5dc;
	border-radius:350px 350px;
	padding:30px;
	margin:20px;
}

.unordered-list{
	font-size:.8em;
}

p:first-letter {
	font-weight:bold;
}

ul>li{font-style:italic;}